@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* html, body {
    margin: 0;
    height: 100%;
    font-family: 'Open Sans',sans-serif;
} */

.paragrap {
  margin-top: 0;
}

#UpdateProfile {
  background: url("../public/last.png") no-repeat 0 0 fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-color: black;
}

.container {
  background: black;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center */
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .row {
  margin: 0 auto;
}
